<div class="d-flex flex-column justify-content-center">
  <form class="container" name="formPwdChange" style="min-width:320px; width:450px;min-height:670px;"
    (ngSubmit)="onSubmit()" #cpForm="ngForm" appConfirmPwd>
    <mat-card class="py-2 chPwdTopGap">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" readonly="readonly" required [(ngModel)]="model.name"
          name="name" #name="ngModel">
      </div>
      <div class="cross-validation"
        [class.cross-validation-error]="cpForm.errors?.identityRevealed && (cpForm.touched || cpForm.dirty)">
        <div class="form-group">
          <label for="npwd">New Password</label>
          <input type="password" class="form-control" id="newPassword" #npwd="ngModel" required
            [(ngModel)]="model.newPassword" name="newPassword">
          <div [hidden]="npwd.valid || npwd.pristine" class="alert alert-danger">
            New Password is required
          </div>
        </div>

        <div class="form-group">
          <label for="opwd">Repeat Password</label>
          <input type="password" class="form-control" id="repeatPassword" #rpwd="ngModel" required
            [(ngModel)]="model.repeatPassword" name="repeatPassword">
          <div [hidden]="rpwd.valid || rpwd.pristine" class="alert alert-danger">
            Repeat Password is required
          </div>
        </div>
        <div *ngIf="cpForm.errors?.pwdMismatch && (cpForm.touched || cpForm.dirty)"
          class="cross-validation-error-message alert alert-danger">
          New and Repeat Password values must match!
        </div>
      </div>
      <button type="submit" class="btn btn-primary mb-2" [disabled]="cpForm.invalid" title="Submit">Submit</button>

    </mat-card>
  </form>
</div>