/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.flex-container {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.errorMsgStyling {
    background:yellow;
    color: red;
}

div.mat-chip-list-wrapper {
    max-height: 120px;
    max-width: 100%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    overflow-y: auto !important;
  }  


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mat-list-item-content {
    padding-left: 0;
    padding-right: 0;
}

  .mat-list-item-ripple {
      background-color: rgb(95, 47, 255);
      color: white;

  }

  .dark-overlay{
    background-color: fff;
    position: absolute; 
    top:0;
    left:0;
    width: 100%;
    z-index: 9999;
}